.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filters {
    background-color: white;
    margin: auto;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    display: flex;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    border: none;
    width: 20%;
    border-radius: 4px;
    margin-right: 30px;
    opacity: 1;
    position: relative;
}
.filters button:hover {
    opacity: 0.9
}

.filters div.locations, .filters div.amenities {
    height: 100%;
    width: 25%;
    padding: 10px 15px;
    cursor: pointer;
}


.filters div.locations {
    border-right: 1px solid #DDDDDD;
}

ul.popover h2 {
    font-size: 16px;
    margin: 0 0 6px 0;
}

.filters h3 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
}

.filters h4 {
    margin: 3px 0 0 0;
    font-weight: 400;
    font-size: 14px;
}

.filters div:hover > ul.popover {
    display: block;
}

ul.popover {
    color: #FAFAFA;
    width: auto;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style: none;
    display: none;
    margin: 0;
    padding: 10px;
    z-index: 10;
}